@charset "utf-8";
/* CSS Document */

.content .gonggao{
	width:100%;
	height:500px;
	background:url(../img/orange_bg.gif);
	margin-top:10px;
	border-radius:9px;
	}
.content .gonggao .con{
	margin-left:60px;
	margin-right:60px;
	}	
.content .title{
	width:200px;
	height:30px;
	padding-top:30px;
	font-size:24px;
	font-weight:700;
	color:white;
	}
.gonggao ul{
	width:500px;
	height:350px;
	margin-left:90px;
	margin-top:20px;
	}
.gonggao ul li{
	list-style:none;
	margin-bottom:8px;
	padding:5px;
	border-bottom:1px solid white;
	}
.gonggao ul li a{
	font-size:18px;
	color:white;
	}
.paizi{
	background:url(../img/haha.png) 0 0 no-repeat;
	width:100px;
	height:100px;
	position:absolute;
	top:400px;
	right:200px;
	}