.navbar{
	height: 40px;
	border:1px solid #ccc;
}

.nav > li{
	width: 114px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
}
.nav > li > a{
	color:#333;
} 
.nav .caret{
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
