.list-main{
	min-height:350px;
	_height:350px;
	background:#fff;
	margin-bottom: 10px;
}
.news-type{
	width: 220px;
	height: 350px;
	border:1px solid #e8e8e8;
	float: left;
}
.list-box{
	width: 770px;
	min-height: 350px;
	_height:350px;
	border:1px solid #e8e8e8;
	float: right;
	background: #fff;
}

.news-type h2{
	height: 35px;
	line-height: 35px;
	color:#666;
	font-size: 14px;
	padding-left: 15px;
	background: url(../images/title_bg.gif);
}
.news-type ul{
	height: 365px;
	background: url(../images/content_bg.gif) repeat-x;
}

.news-type ul li{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dotted #ccc;
	
}

.news-type ul li a{
	display: block;
	color:#666;
	background: url(../images/li_bg.gif) no-repeat left center;
	padding-left: 20px;
}
.news-type ul li a:hover{
	color:#009cdf;
	background: url(../images/li_bg2.gif) no-repeat left center;
	background-color: #f2f2f2;
}

.list-box h2{
	color: #666;
	font-size: 14px;
	padding-left:15px;
	height: 35px;
	line-height: 35px;
	background:url(../images/type_bg.png);
}